numpy==1.26.4
librosa==0.11.0
tqdm==4.67.3
psutil==7.2.2
soundfile==0.13.1
PySide6==6.10.0
grpcio==1.80.0
grpcio-tools==1.80.0
protobuf==6.33.6

torch==2.11.0
scipy==1.15.3
pyloudnorm==0.2.0
noisereduce==3.0.3
speechbrain==1.1.0
transformers
sentencepiece
einops==0.8.2
rotary-embedding-torch==0.8.9

deepfilternet==0.5.6

pesq==0.0.4
pystoi==0.4.1
