{%- set display_name = module.split('.')[-1] %}
{{ display_name }}
{{ '=' * display_name | length }}

.. currentmodule:: {{ module }}

.. automodule:: {{ module }}
   :members:
   :undoc-members:
   :show-inheritance: