{%- set mod = module | default(package) %}
{%- if mod %}
{%- set display_name = mod.split('.')[-1] %}
{{ display_name }}
{{ '=' * display_name | length }}

.. currentmodule:: {{ mod }}

.. automodule:: {{ mod }}
   :members:
   :undoc-members:
   :show-inheritance:
{%- endif %}