{%- set pkg = package | default(module) | default(root) %}
{%- if pkg %}
{%- set display_name = pkg.split('.')[-1] %}
{{ display_name }}
{{ '=' * display_name | length }}

.. currentmodule:: {{ pkg }}

.. automodule:: {{ pkg }}
   :members:
   :undoc-members:
   :show-inheritance:
{%- else %}
API Reference
=============
{%- endif %}

{%- if subpackages %}

Subpackages
-----------

.. toctree::
   :maxdepth: 5

{%- for sub in subpackages %}
   {{ sub }}
{%- endfor %}
{%- endif %}

{%- if submodules %}

Submodules
----------

.. toctree::
   :maxdepth: 5

{%- for mod in submodules %}
   {{ mod }}
{%- endfor %}
{%- endif %}